In [5]:
import pandas as pd
df=pd.read_excel("walmart Retail Data.xlsx")

In [7]:
df.head()

,City,Customer Age,Customer Name,Customer Segment,Discount,Number of Records,Order Date,Order ID,Order Priority,Order Quantity,...,Profit,Region,Row ID,Sales,Ship Date,Ship Mode,Shipping Cost,State,Unit Price,Zip Code
0,McKeesport,NaN,Jessica Myrick,Small Business,0.10,1,2012-01-01,28774,High,32,...,-111.80,East,4031,180.36,2012-01-02,Regular Air,4.69,Pennsylvania,5.98,15131
1,Bowie,NaN,Matt Collister,Home Office,0.08,1,2012-01-01,13729,Not Specified,9,...,-342.91,East,1914,872.48,2012-01-03,Express Air,35.00,Maryland,95.99,20715
2,Napa,NaN,Alan Schoenberger,Corporate,0.00,1,2012-01-02,37537,Low,4,...,-193.08,West,5272,1239.06,2012-01-02,Delivery Truck,48.80,California,291.73,94559
3,Montebello,NaN,Elizabeth Moffitt,Consumer,0.08,1,2012-01-02,44069,Critical,43,...,247.79,West,6225,614.80,2012-01-02,Regular Air,1.97,California,15.04,90640
4,Napa,NaN,Alan Schoenberger,Corporate,0.07,1,2012-01-02,37537,Low,43,...,-1049.85,West,5273,4083.19,2012-01-04,Delivery Truck,45.00,California,100.98,94559

In [8]:
df.isnull().sum()

City                      0
Customer Age            903
Customer Name             0
Customer Segment          0
Discount                  0
Number of Records         0
Order Date                0
Order ID                  0
Order Priority            0
Order Quantity            0
Product Base Margin      63
Product Category          0
Product Container         0
Product Name              0
Product Sub-Category      0
Profit                    0
Region                    0
Row ID                    0
Sales                     0
Ship Date                 0
Ship Mode                 0
Shipping Cost             0
State                     0
Unit Price                0
Zip Code                  0
dtype: int64

In [9]:
from sklearn.impute import SimpleImputer
categorical_columns=["Customer_Segment","Product Container","Product Name","Product Sub-Category","Region","Ship Mode","State"]
numerical_columns=["Customer Age","Product Base Margin"]

In [10]:
from sklearn.impute import SimpleImputer
numerical_imputer=SimpleImputer(strategy="mean")
categorical_imputer=SimpleImputer(strategy="most_frequent")

In [12]:
imputer=SimpleImputer(strategy="mean")
df['Customer Age']=imputer.fit_transform(df[['Customer Age']])

In [13]:
from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder(handle_unknown='ignore',sparse_output=False).set_output(transform='pandas')

In [15]:
new_df = encoder.fit_transform(df[['Product Category','Product Sub-Category','Product Container','Customer Segment','Region', 'Ship Mode', 'State']])

In [ ]:
n